
* {
    box-sizing: border-box;
}

[class*="col-"] {
    float:left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/************************
HORIZONTAL NAVIGATION BAR 
************************/
section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

section li {
    float: left;
}

section li a {    
    font-family: Leelawadee UI;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 200px;
    text-decoration: none;
}

section li a:hover:not(.active) {
    background-color:#111;
}

.active {
    background-color: #4CAF50;     
}

/************************************/

body{
    margin: 0;
    background-color: #E4E3DF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Logo{
    margin: 0;   
}

#LogoText {
    
    margin: 0;
    font-family: Segoe Print;
    color: #3F3E3D;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #7A7977;
}

/****** FOR THE MAIN CONTENT ******/

a {    
    text-decoration: none;
}

h1 {
    font-family: Segoe UI Light;
    font-size: 22px;
    color: #3F3E3D;
}

h2 {
    font-family: Segoe UI Light;
    font-size: 18px;
    color: #787776;
}

p {
    font-family: Segoe UI;
    font-size: 18px;
    color: #1A1A1A;
    padding-bottom: 50px;
}

/****************************************************/
div.container {
    border-style: solid;
    margin:30px 300px 30px 300px;    
    padding-right: 100px;
    padding-top: 10px;
}


article {
margin-left: 600px;
border-left: none;
padding: 1em;
overflow: hidden;
}

nav.about{
    float: left;
    max-width: 100px;
    margin: 5px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-top: 20px;
}

input.contact {
    float:right;
    margin-right: 550px;
}

input.comment {
    float: right;
    margin-right: 0;
}

nav.greeting{    
    border: 2px solid #7A7977;
    float:left;
    padding-left:20px;
    margin: 150px 100px 50px 100px;
    max-width: 350px;
}

nav.popular{
    border: 2px solid #7A7977;
    float:left;
    padding-left:20px;
    padding-right:175px;
    margin: 150px 100px 50px 100px;
    max-width: 400px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul a{
    text-decoration: none;
}

nav li a{    
    font-family: Segoe UI;    
    display: block;
    font-size: 18px;
    color: #3C3C3C;
    text-align: left;
    text-decoration: none;
}

 input.like{
     float:left;
 }

 h3 {
     font-family: Segoe UI Light;
     float: right;
     font-size: 15px;
     margin-top: 4px;
     color: #787776
 }